.ipynb_checkpoints/
datasets
Selected Data Train/
new_dataset
new_dataset_processed
cache
results
audio
praat
.python-version
*.pyc
.vscode
indic_*
temp
complete_split/
images/
librivox_complete_solo/
topcoder_16000_selection/
TopCoder_selection_Data_Train_Rythm_wav/
